    <!--Conexión con JavaScript-->
    <script src="/javascripts/main.js"></script>
</body>
<footer>
    <section class='pie-de-pagina container'>
        <div class='informacion'>
            Desarrollado por alumnos del Instituto Politécnico Nacional.
        </div>
        <div class='informacion'>
            Contacto:
            <br>
            <a class='link' href='https://www.twitter.com/bobftool/' target='_blank'>Twitter</a>
            <br>
            <a class='link' href='https://www.instagram.com/bobftool/' target='_blank'>Instagram</a>
            <br>
            <a class='link' href='mailto: gonzalezalan321@gmail.com'>gonzalezalan321@gmail.com</a>
        </div>
        <div class='informacion'>
            <img id='logo-verdev' src='images\verdev_logo_fondo.png' alt=''>
            <br>
            <a class='link' href='https://www.twitter.com/verdev_/' target='_blank'>Twitter</a>
            <br>
            <a class='link' href='https://www.instagram.com/verdev__/' target='_blank'>Instagram</a>
            <br>
        </div>
        <div class='informacion'>
            <a class='link' href='https://github.com/bobftool/deaquiadonde' target='_blank'>Repositorio en GitHub</a>
            <br>
            Última actualización: 07-07-2023
        </div>
    </section>
</footer>
</html>