<body>
    <!--Header flotante--------------------------------------------------------------->
    <header>
        <!--Barra superior-->
        <div class='barra container'>
            <div class='logos-container'>
                <div class='logo-container' id='logo-mono'>
                    <img class='logo-img' src='images\logo-sinpunto_mono.png' alt=''>
                </div>
                <div class='logo-container' id='logo-rosa'>
                    <img class='logo-img' src='images\logo-sinpunto_rosa.png' alt=''>
                </div>
                <div class='logo-container' id='logo-verde'>
                    <img class='logo-img' src='images\logo-sinpunto_verde.png' alt=''>
                </div>
                <div class='logo-container' id='logo-morado'>
                    <img class='logo-img' src='images\logo-sinpunto_morado.png' alt=''>
                </div>
            </div>
            <!--Botón-->
            <a href='' class='boton'>Actualizar</a>
        </div>
    </header>