/* Conexión con Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,900;1,300;1,400;1,700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: 0;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

/* Variables */
:root{
    /*  colores */
    --color-primario-seccion-1: #f16d9f;
    --color-primario-seccion-2: #00feb5;
    --color-contraste-oscuro: #000000;
    --color-contraste-claro: #ffffff;
    --color-fondo-claro: #f2f2f2;

    /* tamaños */
    --tamaño-contenedor-principal: 1068px;
    --tamaño-logo: 8.65rem;
    --tamaño-texto: 1rem;
}

/* Al subrayar texto */
::selection{
    color: var(--color-contraste-oscuro);
    background: var(--color-primario-seccion-1);
}

a{
    color: var(--color-contraste-claro);
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    width: 100%;
}

section{
    
}

.container{
    max-width: var(--tamaño-contenedor-principal);
    margin: auto;
    width: 100%;
}

.texto{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.centrar-imagen{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centrar-texto{
    text-align: center;
}

.contenido{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.subtitulo{
    font-size: 2rem;
    font-weight: 400;
    /*margin-left: 1rem !important;*/
}

.parrafo{
    font-size: 1rem;
    font-weight: 400;
}

body{

}

footer{
    background: var(--color-contraste-oscuro);
    min-height: 500px;
}

/* --------------------- BARRA SUPERIOR --------------------- */
header{
    background: var(--color-contraste-oscuro);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

.logos-container{
    display: flex;
    max-width: 8.65rem;
}

.logo-img{
    position: relative;
    top: 13px;
    width: var(--tamaño-logo);
}

#logo-mono{
    position: relative;
    left: 0;
}

#logo-rosa{
    position: relative;
    left: -8.65rem;
    opacity: 0;
}

#logo-verde{
    position: relative;
    left: -17.3rem;
    opacity: 0;
}

#logo-morado{
    position: relative;
    left: -25.95rem;
    opacity: 0;
}

.barra{
    max-height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
}

.boton{
    padding: 8px 14px;
    font-weight: 400;
    border-radius: 21px;
    background: var(--color-contraste-claro);
    color: var(--color-contraste-oscuro);
    transition: 0.3s;
}
.boton:hover{
    background: var(--color-primario-seccion-1);
    color: var(--color-contraste-oscuro)
}

/*--------------------- CABECERA --------------------- */
.punto-container{
    
}
.punto-img{
    position: relative;
    top: 10px;
    left: 123.3px;
    max-width: 0.921rem;
}
#punto-superior{
    top: 91px;
}

.cabecera-interior{
    width: 100%;
    margin-top: 3.3rem;
    min-height: 350px;
    display: grid;
    align-items: center;
}
.cabecera-contenido{
    padding: 1rem;
    color: var(--color-contraste-oscuro);
    text-align: center;
}
.cabecera-titulo{
    font-size: 3rem;
}
.cabecera-subtitulo{
    font-size: 2rem;
    font-weight: 400;
}

#cabecera-interior-seccion-1{
    background: var(--color-primario-seccion-1);
}

#cabecera-interior-seccion-2{
    background: var(--color-primario-seccion-2);
}

/*--------------------- FILTRO --------------------- */
.filtro{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 2rem !important;
}
.filtro-item{
    font-size: var(--tamaño-texto);
    cursor: pointer;
}
.filtro-activo{
    background: var(--color-primario-seccion-1);
    color: var(--color-contraste-oscuroo);
    padding: 4px 10px;
    border-radius: 20px;
}

/* --- sub -- */


/* Grid aulas */
.grid-aulas{
    width: 100%;
    max-width: 33rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;


    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}
.aula-container{
    color: var(--color-contraste-oscuro);
    border-style: solid;
    border-width: 5px;
    border-color: var(--color-primario-seccion-1);
    border-radius: 2rem;
    min-width: 7rem;
    min-height: 7rem;
    margin-bottom: 1rem;
}
.aula-estado{
    margin-top: 0.3rem;
    margin-left: 1rem;
    font-size: 0.9rem;
}
.aula-numero{
    margin-top: 0rem;
    margin-left: 1rem;
    font-size: 2rem;
}
.aula-edificio{
    margin-top: 0.3rem;
    margin-left: 1rem;
    font-size: 0.4rem;
}
.aula-piso{
    margin-top: 0.3rem;
    margin-left: 1rem;
    font-size: 0.4rem;
}
.aula-salon{
    margin-top: 0.3rem;
    margin-left: 1rem;
    font-size: 0.4rem;
}

/* Grid actividades */
.grid-actividades{
    width: 100%;
    max-width: 33rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;


    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}
.actividad-container{
    color: var(--color-contraste-oscuro);
    border-style: solid;
    border-width: 5px;
    border-color: var(--color-primario-seccion-2);
    border-radius: 2rem;
    min-width: 23rem;
    min-height: 7rem;
    margin-bottom: 1rem;
}
.actividad-estado{
    margin-top: 0.3rem;
    margin-left: 1rem;
    font-size: 0.9rem;
}
.actividad-ubicacion{
    margin-top: 0.3rem;
    margin-left: 1rem;
    font-size: 0.9rem;
}
.actividad-nombre{
    margin-top: 0rem;
    margin-left: 1rem;
    font-size: 2rem;
}

#disabled{
    border-color: var(--color-contraste-oscuro);
}

/*--------------------- PIE DE PÁGINA --------------------- */
.pie-de-pagina{
    display: grid;
    color: var(--color-contraste-claro);
}

.informacion{
    margin-top: 2rem;
    margin: 2rem;
}

.link{
    text-decoration: underline;
}

#logo-verdev{
    width: var(--tamaño-logo);
}

/*
.aula-item{
    background: var(--container-color);
    color: var(--text-color);
    padding: 10px 15px;
    border-radius: 20px;
    cursor: default;
    transition: 0.3s;
}
.aula-item:hover{
    background: var(--second-color);
    border-radius: 10px;
}
*/